huggingface_hub
absl-py==0.15.0
accelerate
datasets
filelock==3.4.2
jsonlines
nltk==3.7
numpy
python-dotenv==0.20.0
rouge_score==0.0.4
six==1.16.0
torch
tqdm==4.64.0
transformers
wandb==0.12.11
fire==0.4.0
flask==2.0.2
flask-Cors==3.0.10
chardet==3.0.4
beautifulsoup4==4.6.0
zstandard==0.18.0
flashtext==2.7
dotmap
einops
